
html {
   
    font-family: 'Roboto', cursive;
}
body{

    background-image: url(imagens/OIUF6C0.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.conteudo {
    padding: 10vh 3em 0;
    display: flex;
    align-items: flex-start;
    gap: 2em;
}

.principal {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 600px;
    padding: 4em 2em 2em;
    box-sizing: border-box;
    display: flex;
    background: #C5965F;
    border-radius: 10px;
    gap: 2em;
}
  
.lista-compras {
    min-width: 250px;
    max-width: 250px;
    height: 250px;
    align-items: center;
    padding-top: 30px;
    background-position: center 254px;
    background-size: 305px 6px;
    background-repeat: repeat-x; 


    display: inline-block;
    vertical-align: top;
    flex-basis: auto;
    flex-grow: 1;
}
.adicionar {
    width: 100%;
}

.adicionar input,select {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: 2px solid #40112D;
}

.adicionar label {
    display: block;
}

.cadastrar {
    background-color: #40112D;
    color: #FFFFFF;
    cursor: pointer;
}

.lista {
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
    padding: 0.6em 2em;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 1em;
    width: 100%;
    box-sizing: border-box;
    display:  inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
}

.secundario {
    list-style: none;
    padding: 0 2em;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0.2em;
    width: 100%;
    box-sizing: border-box;
    display:  inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: #C5965F;
    font-weight: 400;
}



@media screen and (max-width : 768px){
    .conteudo{
        align-items: center;
        padding: 2em;
        display: inline-block;
    }
    .lista{
        align-items: center;
    }
    .principal{
        box-sizing: border-box;
    }
    .item{
        margin: 1em 0;
    }
}